# Aplicación
APP_ENV=staging
APP_KEY=
APP_URL=https://beta.dxpro.es
APP_DEBUG=true

# Base de Datos
DB_CONNECTION=mysql
DB_HOST=mariadb-beta
DB_PORT=3306
DB_DATABASE=dxportal_beta
DB_USERNAME=dxportal
DB_PASSWORD=CAMBIA_ESTO_BETA

# Redis
REDIS_HOST=redis-beta
REDIS_PORT=6379
REDIS_PASSWORD=null

# Cache y Colas
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

# Email
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=[EMAIL_ADDRESS]
MAIL_PASSWORD=CAMBIA_ESTO_BETA
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=[EMAIL_ADDRESS]
MAIL_FROM_NAME="DX Portal Beta"

# MariaDB Docker
MYSQL_DATABASE=dxportal_beta
MYSQL_USER=dxportal
MYSQL_PASSWORD=CAMBIA_ESTO_BETA
MYSQL_ROOT_PASSWORD=CAMBIA_ESTO_ROOT_BETA

# IA
GEMINI_API_KEY=
DEEPSEEK_API_KEY=
OPENROUTER_API_KEY=

# Notificaciones
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=